
        <ion-tabs class="tabs-positive tabs-icon-top">



            <ion-tab title="Tasks" icon-on="ion-settings" icon-off="ion-settings" href="#/tab/tasks">

                <ion-nav-view name="tab-tasks">

                </ion-nav-view>

            </ion-tab>



            <ion-tab title="References" icon-on="ion-medkit" icon-off="ion-medkit" href="#/tab/references">
                <ion-nav-view name="tab-references">

                </ion-nav-view>
            </ion-tab>

            <ion-tab title="Notifications" icon-on="ion-email" icon-off="ion-email" href="#/tab/notifications">

                <ion-nav-view name="tab-notifications">

                </ion-nav-view>

            </ion-tab>

            <ion-tab title="Catalog" icon-on="ion-clipboard" icon-off="ion-clipboard" href="#/tab/catalog">
                <ion-nav-view name="tab-catalog">

                </ion-nav-view>
            </ion-tab>

            <ion-tab title="Drafts" icon-on="ion-compose" icon-off="ion-compose" href="#/tab/drafts">
                <ion-nav-view name="tab-drafts">

                </ion-nav-view>
            </ion-tab>
            <ion-tab title="Patients" icon-on="ion-ios-person" icon-off="ion-ios-person" href="#/tab/patients">
                <ion-nav-view name="tab-patients">

                </ion-nav-view>
            </ion-tab>
            <ion-tab title="Stuff" icon-on="ion-ios-people" icon-off="ion-ios-people" href="#/tab/stuff">
                <ion-nav-view name="tab-stuff">

                </ion-nav-view>
            </ion-tab>
        </ion-tabs>

