
<ion-header-bar class="bar-light bar-subheader">

    <input type="search"
           placeholder="Filter contacts..."
           ng-model="search">
    <button ng-if="search.length"
            class="button button-icon ion-android-close input-button"
            ng-click="clearSearch()">
    </button>

</ion-header-bar>
<ion-content>
    <div style="height: 64px;" ></div>
    <div style="height: 40px;" ></div>
    <ion-list >

        <ion-item  class=" item my-item"
           collection-repeat="item in contacts | orderBy:'email' | searchContacts:search | limitTo:numberOfItemsToDisplay"
           collection-item-height="60"
           collection-item-width="'100%'">
            <button ng-click="addRefs(item.id)" style="float: right" class="button ion-plus-round  button-small button-balanced"> add </button>
               {{item.name}}
            <p>{{item.email}}</p>
            <p>{{item.type}}</p>


        </ion-item>

    </ion-list>
    <ion-infinite-scroll on-infinite="addMoreItem()" icon="" ng-if="contacts.length">

    </ion-infinite-scroll>
</ion-content>
