<ion-content>
    <div style="height: 67px;"></div>

    <input style="padding-left:10px;width: 100%" type="search"
           placeholder="Search references..."
           ng-model="search">

    <ion-list>

        <ion-item class=" item my-item"
                  collection-repeat="item in contacts | orderBy:'email' | searchContacts:search | limitTo:numberOfItemsToDisplay"
                  collection-item-width="'100%'">
            <button ng-click="addRefs(item.id)" style="float: right"
                    class="button ion-plus-round   button-balanced" translate="ADDREF">
            </button>
            {{item.name}}
            <p><span translate="EMAIL"></span>:{{item.email}}</p>

            <p><span translate="TYPE"></span>:{{item.type}}</p>


        </ion-item>
    </ion-list>

    <ion-infinite-scroll on-infinite="addMoreItem()" icon="" ng-if="contacts.length">

    </ion-infinite-scroll>
</ion-content>
