<ion-content>


    <div style="height: 68px;"></div>


    <input style="padding-left:10px;width: 100%" type="search"
           placeholder="Search references..."
           ng-model="search">


    <ion-list>

        <ion-item class=" item my-item"
                  collection-repeat="item in users | orderBy:'email && name' | searchContacts:search | limitTo:numberOfItemsToDisplay"
                  collection-item-width="'100%'">
            <button ng-click="vm.addPatient(item.id)" style="float: right"
                    class="button ion-plus-round  button-balanced"><span translate="ADD"></span></button>
            {{item.name}}
            <p> <span translate="EMAIL"></span>:{{item.email}}</p>

            <p> <span translate="TYPE"></span>:{{item.type}}</p>


        </ion-item>

    </ion-list>

    <ion-infinite-scroll on-infinite="addMoreItem()" icon="" ng-if="users.length">
</ion-content>
