<ion-view><!-- hide-back-button="true" cache-view="false" -->
    <ion-nav-view name="list"></ion-nav-view>
    <ion-tabs class="tabs-positive tabs-icon-top">


        <ion-tab title="Tasks" icon-on="ion-ios-compose" icon-off="ion-ios-compose-outline" ng-click="vm.changeTab(0)">
            <!-- Tab 1 content -->
        </ion-tab>

        <ion-tab title="Sent" icon-on="ion-ios-paperplane" icon-off="ion-ios-paperplane-outline" ng-click="vm.changeTab(1)">
            <!-- Tab 2 content -->
        </ion-tab>

    </ion-tabs>
</ion-view>