<ion-content>

    <div style="height: 64px;" ></div>

    <form name="vm.form" novalidate >

        <div class="row">
            <div class="form-group col-md-2 col-sm-2">
                <label><span translate="SELECT_SECTION"></span></label>
                <select class="form-control"  ng-model="vm.data.selectedSection" ng-options="o for o in vm.data.sectionsName"></select>
            </div>

            <p class="col-md-2 col-sm-2"><span translate="CATEGORY"></span>: {{vm.data.formInfo.category}}</p>
            <p class="col-md-2 col-sm-2"><span translate="NAME"></span>: {{vm.data.formInfo.name}}</p>
            <p class="col-md-2 col-sm-2">#: {{vm.data.formInfo.number}}</p>
            <p class="col-md-2 col-sm-2"><span translate="DESCR"></span>: {{vm.data.formInfo.descr}}</p>
        </div>

        <formly-form model="vm.data.model[vm.data.selectedKey][vm.data.selectedSection]"
                     fields="vm.data.sections[vm.data.selectedKey][vm.data.selectedSection]"
                     options="vm.data.options[vm.data.selectedKey][vm.data.selectedSection]"
                     form="vm.form"
                     track-by="$index">
        </formly-form>

    </form>
    </div>

    <div>
        <button ng-click="vm.onSave();" ng-if="vm.viewButtonSave" type="submit" class="btn btn-primary submit-button" ng-disabled="vm.form.$invalid" translate="SUBMIT"></button>
        <button ng-click="vm.onSend();" ng-if="vm.viewButtons"  style="float: right" class="btn btn-primary" ng-disabled="vm.form.$invalid" translate="ADDNOTIF"></button>
        <button ng-click="vm.onSaveDraft();" ng-if="vm.viewButtons" ng-disabled="" class="btn btn-primary" translate="SAVEASDRAFT"></button>
        <button ng-click="vm.onCloseTask();" ng-if="vm.viewButtons" ng-disabled="vm.form.$invalid" class="btn btn-primary" translate="CLOSE_TASK"></button>
    </div>

    <!--<script type="text/ng-template" id="error-messages.html">-->
        <!--<formly-transclude></formly-transclude>-->

    <!--<script type="text/ng-template" id="error-messages.html">-->
        <!--<formly-transclude></formly-transclude>-->
        <!--<div ng-messages="fc.$error" ng-if="form.$submitted || options.formControl.$touched" class="error-messages">-->
            <!--<div ng-message="{{ ::name }}"-->
                 <!--ng-repeat="(name, message) in ::options.validation.messages"-->
                 <!--class="message">-->
                <!--{{ message(fc.$viewValue, fc.$modelValue, this)}}-->
            <!--</div>-->
        <!--</div>-->
    <!--</script>-->


</ion-content>
