<!--<ion-tabs class="tabs-positive">-->
<ion-content>
    <div style="height: 64px;"></div>
    <!--my forms -->
    <ion-list ng-if="vm.type=='my'">
        <ion-item class="catalog"  ng-repeat="formTemplate in vm.formTemplates">
            {{formTemplate.templateDto.name}}
            <button style="float: right" class="button ion-trash-b  button-small button-assertive" ng-click="vm.DeleteMyForm(formTemplate.id)" ng-if="!(formTemplate.type=='PAID')"></button>
            <button style="float: right" class="button ion-plus-round  button-small button-balanced">

            </button>
        </ion-item>
    </ion-list>
    <!--main forms -->
    <ion-list ng-if="vm.type == 'main'">
        <ion-item class="catalog" ng-repeat="formTemplate in vm.formTemplates">

            {{formTemplate.name}}
            <button style="float: right" class="button ion-eye button-small button-calm" ng-click="vm.onView(formTemplate.id);">

            </button>
            <button style="float: right" class="button ion-plus-round  button-small button-balanced" ng-click="vm.onLoad(formTemplate.id);formTemplate.isLoad=true;">

            </button>
            <button ng-click="vm.Buy(formTemplate.id);formTemplate.isPay=true;formTemplate.isLoad=true;" ng-disabled="formTemplate.isPay" ng-if="formTemplate.commercialEnum==='PAID'" ng-hide="formTemplate.existPaid === true" style="float: right" class="button ion-bag  button-small button-assertive">
                Buy
            </button>


        </ion-item>
    </ion-list>
    <ion-footer-bar>
        <div class="button-bar">
            <button class="button button-positive" ng-click="vm.getTemplates('main')">Main</button>
            <button class="button button-positive" ng-click="vm.getTemplates('my')">My</button>
        </div>
    </ion-footer-bar>
</ion-content>
