<ion-content >
  <div style="height: 64px;" ></div>
  <!-- The list directive is great, but be sure to also checkout the collection repeat directive when scrolling through large lists -->

  <ion-list  show-reorder="data.showReorder">
    <ion-item  ng-repeat="draft in vm.list track by $index" item="item"  class="catalog item-remove-animate">

      Name: {{draft.name}}
      <p> Description:{{draft.body.formInfo.descr}}</p>
      <button ng-click="vm.Delete(draft,event)" style="float: right;" class="button ion-trash-b  button-assertive"></button>
      <button ng-click="vm.onEdit(draft._id)" style="float: right;margin-right: 10px" class="button  button-positive" translate="EDIT"></button>
      <!--<ion-option-button class="button-assertive"-->
      <!--ng-click="edit(item)">-->
      <!--Edit-->
      <!--</ion-option-button>-->
      <!--<ion-option-button class="button-calm"-->
      <!--ng-click="share(item)">-->
      <!--Share-->
      <!--</ion-option-button>-->
      <ion-reorder-button class="ion-navicon" on-reorder="moveItem(item, $fromIndex, $toIndex)"></ion-reorder-button>
    </ion-item>

  </ion-list>
</ion-content>
