
<ion-content>
        <div style="height: 67px;"></div>

        <input class="search_field" ion-autocomplete type="text" readonly="readonly" class="ion-autocomplete" autocomplete="off"
               ng-model="vm.message.patients"
               item-value-key="id",
               item-view-value-key="name"
               items-method="vm.getTestItems(query)"
               items-method-value-key="patients"
               placeholder="tap to search ..."
               items-clicked-method="itemsClicked(callback)"
               items-removed-method="itemsRemoved(callback)"
               max-selected-items="10"/>

    <ion-item style="margin-top: 20px;">
        <ion-label stacked>Message</ion-label>
        <ion-textarea [(ngModel)]="msg"></ion-textarea>
    </ion-item>
<button class="button button-full button-balanced" ng-click="vm.onSend()" translate="SEND"></button>
    </ion-content>
</div>
