<div class="modal">
    <ion-header-bar class="bar bar-header bar-positive">
        <h1 class="title">My Modal title</h1>
        <div class="buttons"><button class="button button-clear button-primary" ng-click="modalOk()">Ok</button></div>
    </ion-header-bar>

    <ion-content>
        <div style="height: 67px;"></div>
        <div class="item">
            <input ion-autocomplete type="text" readonly="false" class="ion-autocomplete" autocomplete="true" ng-model="model.ref"
                   item-view-value-key="id"
                   items-method="getAddressSuggestions(query)" />
        </div>
    </ion-content>
</div>