<!--<div class="row " ng-controller="">-->
    <!--<div class="content_modal">-->

        <!--<h3>Create form for:</h3>-->

        <!--<ui-select multiple-->
                   <!--ng-model="vm.message.patients"-->
                   <!--theme="bootstrap"-->
                   <!--close-on-select="true"-->
                   <!--title="Choose a person"-->
                   <!--on-select="vm.onSelectCallback($item, $model)"-->
                   <!--on-remove="vm.onRemoveCallback($item, $model)">-->
            <!--<ui-select-match placeholder="Select person...">{{$item.name}} &lt;{{$item.email}}&gt;</ui-select-match>-->
            <!--<ui-select-choices refresh="vm.getFindUsers($select.search)"-->
                               <!--refresh-delay="1"-->
                               <!--repeat="person.id as person in vm.patients">-->
                <!--<div ng-bind-html="person.name | highlight: $select.search"></div>-->
                <!--<small ng-if="person.id !== 'ALL'">email: {{person.email}}</small>-->
            <!--</ui-select-choices>-->
        <!--</ui-select>-->

        <!--<form name="myform" class="notif" action="">-->
            <!--<textarea rows="6" cols="6" ng-model="vm.message.message" placeholder="{{'MESSAGE_TEXT' | translate}}" rows="5"></textarea>-->
        <!--</form>-->

        <!--<button style="margin-right:10px;margin-bottom: 10px;" class="pull-right btn btn-warning" ng-disabled="vm.message.patients.length == 0" ng-click="vm.onSend()"> <span translate="CREATE"></span></button>-->

    <!--</div>-->
<!--</div>-->
