<ion-content>
    <div style="height: 67px;"></div>


    <input class="search_field" ion-autocomplete type="text" readonly="readonly" class="ion-autocomplete"
           autocomplete="off"
           ng-model="vm.message.patients"
           item-value-key="id" ,
           item-view-value-key="name"
           items-method="vm.getTestItems(query)"
           items-method-value-key="patients"
           placeholder="tap to search ..."
           items-clicked-method="vm.itemsClicked(callback)"
           items-removed-method="vm.itemsRemoved(callback)"
           max-selected-items="10"/>

    <ion-item>

        <textarea placeholder="message..." ng-model="vm.message.message" style="width: 100%" rows="8"></textarea>


    </ion-item>

    <button class="button button-full button-balanced" ng-click="vm.onSend()" translate="SEND"></button>
</ion-content>