
.bar-header {
    height: 64px !important;
}
.bar-header > * {
    margin-top: 20px !important;
}

.scroll-content{
    top:0 !important
}
.catalog>button{

    margin-right: 5px;
}
.refs>p{
   float: left;
}
.patients_form{
    border-top: dotted 1px;
}
.button_right > button{
    float: right;
}
.overflow-scroll{
    overflow-y:auto;
}
.overflow-scroll.pane{
    overflow-y: auto;
}
.user{
    background:#ddecff;
}
.datePicker{
    width: 100%;
}
.pop-up-tasks{

}
.popup-container .popup{
    width: 80%;
}
.ion-autocomplete-cancel.button.button-clear.ng-binding{
    color: grey;
}
.item-divider.item.ng-binding{
    margin-top: 65px;
}
.search_field{
    width:100%;

}
input[disabled], input[readonly]:not(.cloned-text-input), select[disabled], select[readonly], textarea[disabled], textarea[readonly]:not(.cloned-text-input) {
    cursor: auto;
    padding-left: 15px;
    border-bottom: dotted 1px;
}
textarea{
    resize: none
}
.count{
    background: rgba(255, 0, 0, 0.63);
    border-radius: 5px;
    padding: 3px;
}
